<p-tree
    class="h-full w-full"
    scrollHeight="60vh"
    selectionMode="single"
    [value]="rootNode"
    (onNodeSelect)="onNodeSelect($event)"
    (onNodeUnselect)="onNodeUnselect($event)"
    (focusout)="onFocusOut()"
    [contextMenu]="cm">
  <ng-template let-node pTemplate="document">
    <div class="flex justify-content-between align-items-center">
      <div class="flex align-items-center">
        <i class="pi pi-file"></i>
        <span class="ml-2">{{node['label']}}</span>
      </div>
      <div>
        <button *ngIf="!node['isVisible']"
                pButton
                type="button"
                class="p-button p-button-secondary p-button-icon-only p-button-rounded p-button-text"
                icon="pi pi-eye-slash"
                (click)="onSetVisible(node)">
        </button>
        <button *ngIf="node['isVisible']"
                pButton
                type="button"
                class="p-button p-button-secondary p-button-icon-only p-button-rounded p-button-text"
                icon="pi pi-eye"
                (click)="onSetInvisible(node)">
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template let-node pTemplate="folder">
    <div class="flex justify-content-between align-items-center">
      <div class="flex align-items-center">
        <i class="pi pi-folder"></i>
        <span class="ml-2">{{node['label']}}</span>
      </div>
      <div>
        <button *ngIf="!node['isVisible']"
                pButton
                type="button"
                class="p-button p-button-secondary p-button-icon-only p-button-rounded p-button-text"
                icon="pi pi-eye-slash"
                (click)="onSetVisible(node)">
        </button>
        <button *ngIf="node['isVisible']"
                pButton
                type="button"
                class="p-button p-button-secondary p-button-icon-only p-button-rounded p-button-text"
                icon="pi pi-eye"
                (click)="onSetInvisible(node)">
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template let-node pTemplate="placemark">
    <div class="flex justify-content-between align-items-center">
      <div class="flex align-items-center">
        <i class="pi pi-map-marker"></i>
        <span class="ml-2">{{node['label']}}</span>
      </div>
      <div>
        <button *ngIf="!node['isVisible']"
                pButton
                type="button"
                class="p-button p-button-secondary p-button-icon-only p-button-rounded p-button-text"
                icon="pi pi-eye-slash"
                (click)="onSetVisible(node)">
        </button>
        <button *ngIf="node['isVisible']"
                pButton
                type="button"
                class="p-button p-button-secondary p-button-icon-only p-button-rounded p-button-text"
                icon="pi pi-eye"
                (click)="onSetInvisible(node)">
        </button>
      </div>
    </div>
  </ng-template>
</p-tree>
<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
