<p-toolbar>
  <div class="p-toolbar-group-start">
    <span>KML-OpenLayers</span>
  </div>
</p-toolbar>
<div class="p-3 grid">

  <div class="sm:col-12 md:col-4">
    <p-card header="List View" styleClass="h-full">
      <div class="w-full" style="height: 70vh">
        <app-list-view [kml]="kml"></app-list-view>
      </div>

      <ng-template pTemplate="footer">
        <p-button (onClick)="clearMapFromAdditionalLayers()">Clear</p-button>
      </ng-template>

    </p-card>
  </div>

  <div class="sm:col-12 md:col-8">
    <p-card header="Map">
      <div class="map-container">
        <app-open-layers-map [map]="map" class="h-full w-full"></app-open-layers-map>
      </div>
    </p-card>
  </div>

  <div class="col-12">
    <p-card header="KML Editor">
      <app-kml-editor
          (loadKmlWithOpenLayers)="importKmlWithOpenLayersDefaultImplementation($event)"
          (loadKmlWithPrototype)="importKml($event)">
      </app-kml-editor>
    </p-card>
  </div>
</div>