<p-toolbar>
  <div class="p-toolbar-group-start">
    <span>KML-OpenLayers</span>
  </div>
</p-toolbar>
<div class="mt-3">
  <div class="container">
    <p-card>
      <div class="grid">
        <div class="sm:col-12 md:col-9">
          <div class="map-container ">
            <app-open-layers-map [mapOptions]="mapOptions"></app-open-layers-map>
          </div>
        </div>
        <div class="sd:col-12 md:col-3 flex flex-column justify-content-between">

          <p-dataView [value]="kmlLayers" class="flex flex-column">
            <ng-template let-kmlLayer pTemplate="listItem">
              <span>{{JSON.stringify(kmlLayer.className)}}</span>
            </ng-template>
          </p-dataView>

          <div class="flex flex-column">
            <input #kmlNameInput placeholder="Layer name" type="text" class="mb-2" pInputText/>
            <input #kmlLinkInput placeholder="Link" type="text" pInputText/>
            <div class="flex mt-3">
              <p-button (onClick)="addKMLLayer(kmlNameInput.value, kmlLinkInput.value)">Import KML</p-button>
            </div>
          </div>

        </div>
      </div>
    </p-card>
  </div>
</div>
