<p-tree [value]="rootNode" class="w-full" [contextMenu]="cm">
  <ng-template let-node pTemplate="document">
    <div class="flex justify-content-between align-items-center">
      <div class="flex align-items-center">
        <i class="pi pi-file"></i>
        <span class="ml-2">{{node['label']}}</span>
      </div>
      <div>
        <button *ngIf="!node['isRendered']"
                pButton
                type="button"
                class="p-button p-button-secondary p-button-icon-only p-button-rounded p-button-text"
                icon="pi pi-eye-slash"
                (click)="onRender(node)">
        </button>
        <button *ngIf="node['isRendered']"
                pButton
                type="button"
                class="p-button p-button-secondary p-button-icon-only p-button-rounded p-button-text"
                icon="pi pi-eye"
                (click)="onUnRender(node)">
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template let-node pTemplate="folder">
    <div class="flex justify-content-between align-items-center">
      <div class="flex align-items-center">
        <i class="pi pi-folder"></i>
        <span class="ml-2">{{node['label']}}</span>
      </div>
      <div>
        <button *ngIf="!node['isRendered']"
                pButton
                type="button"
                class="p-button p-button-secondary p-button-icon-only p-button-rounded p-button-text"
                icon="pi pi-eye-slash"
                (click)="onRender(node)">
        </button>
        <button *ngIf="node['isRendered']"
                pButton
                type="button"
                class="p-button p-button-secondary p-button-icon-only p-button-rounded p-button-text"
                icon="pi pi-eye"
                (click)="onUnRender(node)">
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template let-node pTemplate="placemark">
    <div class="flex justify-content-between align-items-center">
      <div class="flex align-items-center">
        <i class="pi pi-map-marker"></i>
        <span class="ml-2">{{node['label']}}</span>
      </div>
      <div>
        <button *ngIf="!node['isRendered']"
                pButton
                type="button"
                class="p-button p-button-secondary p-button-icon-only p-button-rounded p-button-text"
                icon="pi pi-eye-slash"
                (click)="onRender(node)">
        </button>
        <button *ngIf="node['isRendered']"
                pButton
                type="button"
                class="p-button p-button-secondary p-button-icon-only p-button-rounded p-button-text"
                icon="pi pi-eye"
                (click)="onUnRender(node)">
        </button>
      </div>
    </div>
  </ng-template>
</p-tree>
<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
